/*
Colors:

Border      :#c9c9e5

section back:#b5fcf0

Background:  #fff2fe

Caramel:     #ffb9d5

White:       #FFFFFF

Black:       #000000

Accent:      #c9c9e5
*/

*{
	margin:0;
	padding:0;
}

body{
	background-color:#fff2fe;
	font: normal normal normal 1em/2em Chicago, sans-serif;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXX  

        DIVISIONS  

XXXXXXXXXXXXXXXXXXXXXXXXX*/

#container{
	width: 90%;
	margin: 0 auto;
	border: solid thick #c9c9e5;
	padding:1% 0 1% 0;
	background-color: #b5fcf0;
}

header{
	margin-top:2%;
	border-bottom: solid thick #c9c9e5;
}

#main{
	width:97%;
	padding:2%;
	margin:1%;
}

footer{
	border-top: solid thick #c9c9e5;
	width:100%;
	margin:5% auto;
	padding:0.5em 0;
	clear:both;
	text-align:center;
	color:#ffb9d5;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXX  

         NAV BAR  

XXXXXXXXXXXXXXXXXXXXXXXXX*/

nav{
	width:90%;
	margin:0 auto;
	padding:5px 10px 5px 10px;
	text-align:center;
	display:block;
}

nav ul{
	width:100%;
	font-weight: bold;
	list-style:none;
}

nav ul li{
	display:inline;
	width:10%;
}

nav ul li a {
	width:10%;
	padding:5px;
	margin:2px;
	color:#ffb9d5;
	text-decoration:none;
}

nav ul li a:hover{
	background:#ffb9d5;
	color:#b5fcf0;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXX  

           MISC  

XXXXXXXXXXXXXXXXXXXXXXXXX*/

.tablelist table{
	border: none;
	font-family: arial;
	color:navy;
}

